# Project specifics
###################

www/logs/
bootstrap.sh
Vagrantfile

# Ignore vendor .git folders
############################
www/vendor

# IDE specifics
###############
*.iml
*.swp

# Vagrant
###############
.vagrant
vagrant_dumps
