# Project specifics
###################
www/config/local.inc.php
www/logs/

# Ignore vendor .git folders
############################
www/vendor

# IDE specifics
###############
*.iml
*.swp

# Vagrant
###############
.vagrant
vagrant_dumps
